@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin: 35px 0;
  width: 100%;
  max-width: 896px;
}

#forecast-wrapper::-webkit-scrollbar,
#favorite-cities::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
#forecast-wrapper::-webkit-scrollbar-track,
#favorite-cities::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#forecast-wrapper::-webkit-scrollbar-thumb,
#favorite-cities::-webkit-scrollbar-thumb {
  background: rgb(249, 115, 22);
  background: linear-gradient(90deg, rgba(249, 115, 22, 1) 0%, rgba(253, 186, 116, 1) 100%);
  border-radius: 5px;
}

/* Handle on hover */
#forecast-wrapper::-webkit-scrollbar-thumb:hover,
#favorite-cities::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.fade-in-component {
  animation: fadeIn 3s;
}

.rise-up-component {
  animation: riseUp 2s;
}

@keyframes riseUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
